@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  
  --color:#04d387;
    --font-family: "Manrope", sans-serif !important;
}
body {
    background-color: #ececec !important;
}

.card {
    padding: 20px;
}
.card-title {
    font-weight: bold;
}


.HEAD{
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
    background-color: rgb(255, 255, 255) !important;
}
.ch{
    background-color: var(--color);
    color: white;
    border-radius: 6px;

}



/* checkout */
/* package */
.package-card {
    background-color: #333; /* Dark background */
    color: #fff; /* White text color */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .package-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .package-title {
    font-weight: bold;
    font-size: 1.25rem;
    color: #b0c4de; /* Light blue color */
  }
  .feature-list {
    list-style: none;
    padding: 0;
  }
  .feature-list li {
    margin-bottom: 10px;
  }
  .heading {
    font-size: 2rem;
    font-weight: bold;
    color: #5a8dad;
    text-align: center;
    margin-bottom: 30px;
  }
  .note {
    font-size: 0.875rem;
    color: #bbb;
    text-align: center;
    margin-top: 10px;
  }
  .card{
    border: none !important;
    box-shadow: rgba(46, 49, 58, 0.057) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    /* border: 1px solid rgba(69, 68, 68, 0.362) !important; */
    font-weight: 600;
    color: white !important;
    background-color: white !important;
  }
  .form-control2{
   border: none ;
   padding: 8px 10px;
    margin: 10px 0px;
    background-color: transparent ;
    border-bottom: 1px solid #bbb;
    /* background-color: rgb(241, 241, 241) !important; */
transition: 0.6s ease-in-out;
outline: none !important;
}
  .form-control2:focus{
border-bottom: 1px solid var(--color);
    background-color: #f0f0f0;
   
  }
  .card-body{
    color: #696969 !important;
  }
  tr{
    margin: 5px 0px;
    padding: 9px 0px;
    background-color: #ececec;
  }